body {
  background-color: lightsalmon;
}

.board {
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid black;
  background: black;
  height: 600px;
  width: 900px;
  position: relative;
}

.sky {
  box-sizing: border-box;
  border: 0px solid blue;
  height: 340px;
  width: 100%;
  position: absolute;
  top: 100px;
}
.sky ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sky ul li{
  box-sizing: border-box;
  border: 1px solid white;
  background: white;
  height: 30px;
  width: 30px;
  margin: 0 20px;
  float: left;
}
.alien {
  float: left;
  margin-top: 0;
}

.street {
  box-sizing: border-box;
  border: 0px solid grey;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 100px;
}
.street ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.street ul li{
  box-sizing: border-box;
  border: 1px solid grey;
  background: grey;
  height: 60px;
  width: 10%;
  margin: 0 5%;
  float: left;
}

.me {
  box-sizing: border-box;
  border: 1px solid grey;
  background: yellow;
  height: 30px;
  width: 60px;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.shot {
  width: 6px;
  height: 30px;
  background: white;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
