body {
  background-color: #25305a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1.5px;
}

.boardContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: blue;
  z-index: 2;
}

.board {
  margin: 0 auto;
  box-sizing: border-box;
  border: 4px solid white;
  background: black;
  height: 600px;
  width: 900px;
  position: relative;
}

.sky {
  box-sizing: border-box;
  border: 0px solid blue;
  height: 340px;
  width: 100%;
  position: relative;
  top: 100px;
}
.sky .allAliens {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alien {
  font-size: 0;
  box-sizing: border-box;
  border: 0px solid white;
  background-image: url("../assets/alien.jpg");
  background-size: cover;
  height: 20px;
  width: 30px;
  margin: 0 20px;
  position: absolute;
  bottom: 310px;
  left: 10px;
  visibility: visible;
}

.street {
  box-sizing: border-box;
  border: 0px solid grey;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 100px;
  font-size: 0;
}
.street ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.street ul li{
  box-sizing: border-box;
  border: 0px solid grey;
  background-image: url("../assets/building.png");
  height: 60px;
  width: 10%;
  margin: 0 5%;
  float: left;
}

.me {
  background-image: url("../assets/me2.png");
  background-size: cover;
  box-sizing: border-box;
  border: 0px solid grey;
  height: 30px;
  width: 60px;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.shot {
  width: 6px;
  height: 5px;
  background: white;
  background: #73f440;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  padding-top: 100px;
  font-size: 32px;
  color: white;
}

.instructions {
  visibility: visible;
}
.gameOver {
  visibility: hidden;
}
